
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*   comment here           *@

@model Day_24___ASP.NET_Core.Models.Student

<p>Hello, @Model.FirstName @Model.LastName!  You are @Model.Age</p>


