
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form action="/LoveCalculator/LoveApiResult" method="post">
    <input type="text" name="Fname" placeholder="First Name" />
    <input type="text" name="Sname" placeholder="Second Name" />

    <input type="submit" value="Calculate!" />
</form>