
@{
    ViewData["Title"] = "LoveApiResult";
}

@model LoveCalculatorApp.Models.LoveCalculator

<h1>Love Api Result</h1>

@Model.Fname and @Model.Sname are @Model.Percentage Compatible.

@Model.Result

