
@{
    ViewData["Title"] = "AddEmployee";
}

<h1>Add Employee</h1>

<form action="AddEmployee" method="post">
    <input type="text" name="firstName" value="" />
    <input type="text" name="lastName" value="" />
    <input type="date" name="startDate" value="" />

    <input type="submit" value="Add employee!" />
</form>