@{
    ViewData["Title"] = "Home Page";
}

    <form action="/Home/GreetUser" method="post">
        First Name: <input type="text" name="FirstName" value="" />
        Last Name: <input type="text" name="LastName" value="" />
        Message: <input type="text" name="Message" value="" />

        <input type="submit" value="Enter!" />
    </form>