
@{
    ViewData["Title"] = "Movie Index";
}

<h1>Movie Index</h1>

@model IEnumerable<Movie>

    @foreach (var movie in Model)
    {
        <div class="col-md-4">
            
        </div>
    }
