@{
    ViewData["Title"] = "Privacy Policy";
}


@Html.ActionLink("Home Page", "Index")

<p>
    @ViewBag.PrivacyMessage1

</p>
<p>
    @ViewData["PrivacyMessage"]

</p>
    @{
        <p>@TempData["PrivacyMessage"]</p>
        TempData.Keep();
    }

