@{
    ViewData["Title"] = "Home Page";
}

    <form asp-action="SaveUserName" asp-controller="Home" method="post" class="form-control">
        <input type="text" name="UserName" />
        <input type="submit" class="btn-outline-success" value="Your name!" />
    </form>